<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BlockMethod.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>iAdBlocker+.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>218D98561C9A266100D3DC7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>218D986F1C9A266100D3DC7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>218D987A1C9A266100D3DC7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21955C9A1C9AEEDB002DF004</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
